apiVersion: v1
kind: ConfigMap
metadata:
  name: fluentd-config
  namespace: logging
data:
  fluent.conf: |
    <source>
      @type tail
      path /var/log/containers/*.log
      pos_file /var/log/fluentd-user-app.log.pos
      tag user-app.*
      read_from_head true
      <parse>
        @type multi_format
        <pattern>
          format json
          time_key time
          time_format %Y-%m-%dT%H:%M:%S.%NZ
        </pattern>
        <pattern>
          format regexp
          expression /^(?<time>.+) (?<stream>stdout|stderr) [^ ]* (?<log>.*)$/
          time_format %Y-%m-%dT%H:%M:%S.%N%:z
        </pattern>
        <pattern>
          format none
          message_key log
        </pattern>
      </parse>
    </source>

    <filter user-app.**>
      @type kubernetes_metadata
      @id filter_kube_metadata
    </filter>

    <match user-app.**>
      @type copy
      <store>
        @type stdout
      </store>
      <store>
        @type elasticsearch
        host elasticsearch.logging.svc.cluster.local
        port 9200
        logstash_format true
        logstash_prefix user-app-logs
        include_tag_key true
        tag_key @log_name
        <buffer>
          @type memory
          flush_mode interval
          flush_interval 5s
          flush_thread_count 2
          chunk_limit_size 2M
          queue_limit_length 32
          overflow_action block
          retry_max_times 30
          retry_type exponential_backoff
        </buffer>
      </store>
    </match>